.title {
    margin-bottom: 30px;
}

.title h4 {
    color: var(--ion-color-primary);
}

.title p {
    margin-top: 0 !important;
    color: #999999;
    font-size: small;
}

.forget a {
    font-size: small !important;
}


.btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 2px;
    //margin-top: 18px;
    background: transparent;

    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}  

.btn_eye_icon:focus{
    outline: none  !important;
}