.grid {
    display: grid;
    place-items: center;
  
    height: 50%;
    width: 100%;
  
    color: #333;
  }

  .grid__content {
    margin: auto;

    div {
        ion-icon{
            font-size: 30px;
        }

    }

    a{
        font-size: 20px;
    }
  }
  