
<ion-content class="ion-padding">
  <div class="title">
    <h4>Crear Cuenta</h4>
  </div>

  <form [formGroup]="formCrearCuenta">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" placeholder="Ingrese su nombre" formControlName="name"></ion-input>
      <ng-container *ngIf="formCrearCuenta.get('name')?.dirty || formCrearCuenta.get('name')?.touched">
        <ion-note slot="error" *ngIf="formCrearCuenta.get('name')?.errors?.['required']">
          El nombre es requerido.
        </ion-note>
        <ion-note slot="error" *ngIf="formCrearCuenta.controls['name'].errors?.['minlength']">
          El nombre debe tener 3 caracteres.
        </ion-note>
      </ng-container>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input appEmailValidation type="email" placeholder="Ingrese su email" formControlName="email" ></ion-input>
      <ng-container *ngIf="formCrearCuenta.get('email')?.touched">
        <ion-note slot="error" *ngIf="formCrearCuenta.get('email')?.errors?.['required']">
          El correo es requerido.
        </ion-note>
        <ion-note slot="error" *ngIf="formCrearCuenta.get('email')?.invalid && !formCrearCuenta.get('email')?.errors?.['required']">
          El correo no es válido.
        </ion-note>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="hide ? 'password' : 'text'" formControlName="password"></ion-input>
      <button (click)="hide = !hide" item-end class="btn_eye_icon">
        <ion-icon slot="end" [name]="hide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </button>
      <ng-container *ngIf="formCrearCuenta.get('password')?.dirty || formCrearCuenta.get('password')?.touched">
        <ion-note slot="error" *ngIf="formCrearCuenta.get('password')?.errors?.['required']">
          La Contraseña es requerido.
        </ion-note>
        <ion-note slot="error" *ngIf="formCrearCuenta.controls['password'].errors?.['minlength']">
          La contraseña debe tener 6 caracteres.
        </ion-note>
      </ng-container>
    </ion-item>

  </form>

  <p class="title">Al registrarse, acepta nuestros términos y condiciones</p>

  <div class="ion-margin-top">
    <ion-button expand="block" type="button" [disabled]="formCrearCuenta.invalid" (click)="registrar()">Registrarse</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Cerrar</a>
  </div>
</ion-content>