<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="small" (click)="regresar()">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
     Pagos De Afiliación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin" *ngIf="afiliadoResponse.length > 0">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="3">Acción</ion-col>
      <ion-col size="3">Servicio</ion-col>
      <ion-col size="3">Letras Pendientes</ion-col>
      <ion-col size="3">Detalle</ion-col>

    </ion-row>
    <ion-row *ngFor="let af of afiliadoResponse; index as i">
      <ion-col size="3"><ion-icon size="large" name="reader-outline" style="cursor: pointer;" (click)="irDetalle(af)"></ion-icon></ion-col>
      <ion-col size="3">{{ af.servicio | titlecase }}</ion-col>
      <ion-col size="3">{{ af.letras_pendientes }}</ion-col>
      <ion-col size="3">{{ af.letras_pendientes === '0' ? 'Pagado' : 'Por Pagar' }} </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-item lines="none">
    <ion-button color="primary" size="small" slot="end">
      Material Design Table
    </ion-button>
  </ion-item> -->
</ion-content>
