<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Vidanova </ion-title>
    <!-- <ion-subtitle>Direccion: Salinas - Pedro José</ion-subtitle> -->
    <ion-buttons slot="primary">
      <ion-button size="small" (click)="irDetalleCarrito()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
			</ion-button>
      <ion-badge *ngIf="totalQuantity" class="notifications-badge" slot="end">{{ totalQuantity }}</ion-badge>

			<ion-button size="small" (click)="salir()">
        <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <app-banner [slides]="categorias"></app-banner>

  <app-banner-plan [slides]="serCategoria"></app-banner-plan>


</ion-content>
